


.jbody{
    background-color: black;
    color: whitesmoke;
    text-align: center;
    font-size: 35px;
    padding-top:50px;
    
   
}
#startText{
    padding-bottom:10px;
}
#wins{
    padding-bottom: 25px;   
}
#numGuess{
    padding-bottom: 10px;
}
#wordDisplay{
    padding-bottom: 10px;
}
#ltrDisplay{
    padding-bottom: 10px;
}
#pic{
    background-color:black;
    padding-left:40%;
    padding-right:50%;
    padding-bottom: 800px;
    margin-bottom: 200px;
    bottom:0;
}